#header {z-index: 1002; height:4px; background:url(../images/line_back.jpg) no-repeat; background-size:6.4rem; -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.8); -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.8); box-shadow: 0px 0px 8px rgba(0,0,0,.8); }
#header_web {z-index: 1002;top:0px; background-color:#eac14d ; height:40px;  width:100%; color:#fff;  line-height:40px; font-size:0.3rem;  font-weight:bold;-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.8);-moz-box-shadow: 0px 0px 8px rgba(0,0,0,.8);box-shadow: 0px 0px 8px rgba(0,0,0,.8)}
 .left-head { float:left; display:block; height: 40px;    width: 50px;    background-image: url(/images/arrow_bk.png);    background-repeat: no-repeat;    background-size: 11px 17px;    background-position: 17px 12px; }
 .right-head { float: right;  display:block;  height: 40px;    width: 56px;    background-image: url(/images/ico/list.png);    background-repeat: no-repeat;      background-size: 22px 20px;    background-position: 15px 10px;} 
 #header_tit {text-align:center; font-size: 19px;   display:block; }
 .stip { height:40px; clear:both;}

 .hdHeader-main {
    margin: 0;    padding-left: 0;    padding-right: 0;    width: 100%;    height: 45px;    position:absolute;    top: 0;    left: 0;    text-align: center;   
    line-height: 45px;  background-color: #f8f8f8;    z-index: 1002;   border-image:url(../images/bg.gif) 2 stretch;    border-bottom: 1px solid;
    border-top: 0;    border-left: 0;    border-right: 0;    box-sizing: border-box;    padding: 0!important;
}/*  position:fixed; ÖÃ¶¥ */

.hdHeader-main *, .hdHeader-nav * {    
    margin: 0;    padding: 0;    box-sizing: border-box;    -webkit-tap-highlight-color: transparent;    outline: 0;    font-family: microsoft yahei,Arial;
}
  
 .hdHeader-main>div .hdHeader-category {
	position: absolute;    right: 0px;    bottom: 0px;    background:url(../images/icon1.png) no-repeat 50%;    background-size: 21px;
}
  
.hdHeader-nav.active { transform: translateZ(0);    -webkit-transform: translateZ(0); }

.hdHeader-nav {
    width: 100%;    height: 100px;    position:absolute;    top: 45px;    background-color: #f8f8f8;
    z-index: 1001;    transform: translate3d(0,-45px,0);    -webkit-transform: translate3d(0,-198px,0);
    transition: translate3d 1s ease;    -webkit-transition: transform .3s ease;
}
.hdHeader-nav ul {    width: 100%;    overflow: hidden;}

.hdHeader-main ul, .hdHeader-nav ul {  list-style: none;}

.hdHeader-nav ul li {
    width: 33.3%;    height: 55px;    float: left;    border-image:url(../images/bg.gif) 2 stretch;
    border-bottom: 1px solid;    border-right: 1px solid;    border-top: 0;    border-left: 0;    background-color: #fff;    padding-top: 7px;
}

.hdHeader-nav ul li span {
    display: block;    width: 90px;    height: 40px;    margin: 0 auto;    line-height: 40px;    padding-left: 38px;    font-size: 12px;    color: #000;
}

.hdHeader-nav .nav-list li a span.t1
 {
    background:url(../images/headnav/t1.png) left center / 32px  no-repeat;
}

.hdHeader-nav .nav-list li a span.t2
 {
    background:url(../images/headnav/t2.png) left center / 32px  no-repeat;
}

.hdHeader-nav .nav-list li a span.t3
 {
    background:url(../images/headnav/t3.png) left center / 32px  no-repeat;
}
 
.hdHeader-nav .nav-list li a span.t4
 {
    background:url(../images/headnav/t4.png) left center / 32px  no-repeat;
}

.hdHeader-nav .nav-list li a span.t5
 {
    background:url(../images/headnav/t5.png) left center / 32px  no-repeat;
}

.hdHeader-nav .nav-list li a span.t6
 {
    background:url(../images/headnav/t6.png) left center / 32px  no-repeat;
}
 

.hdHeader-nav-mask, .hdHeader-nav-mask:active {
    background-color: rgba(0,0,0,.5);
}

.hdHeader-nav-mask {    width: 100%;    height: 100%;    position: fixed;    top: 0;    z-index: 1000;}