body {
    margin:0; padding:0;
    background:url(../images/zone/bg.jpg) no-repeat top center;
    background-size:100%;
}
/*首层*/
#page {
    margin:0; padding:0;
    width:100%; height:100%;
    position:absolute;
    z-index:0;
}
/*取号按钮*/
.quhaobtn {
    display:block;
    margin:70% auto 20px auto; 
    padding:10px 0;
    width:50%;
    background:#c7000a;
    color:#fff;
    text-decoration:none;
    text-align:center;
    font-family:"微软雅黑";
    font-weight:bold;
    font-size:14px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    box-shadow:3px 3px 10px #000;
    -moz-box-shadow:3px 3px 10px #000;
    -webkit-box-shadow:3px 3px 10px #000;
}
/*定位*/
.dwlabel {
    width:80%;
    height:16px;
    margin:0 auto; padding:10px 0;
    background:#fff;
    color:#919292;
    font-size:14px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    box-shadow:3px 3px 10px #000;
    -moz-box-shadow:3px 3px 10px #000;
    -webkit-box-shadow:3px 3px 10px #000;
}
.dwlabel .info{
    float:left;
    width:75%;
    text-align:center;
}
.dwlabel .btn {
    border-left:1px #d3bdbd solid;
    float:left;
    display:block;
    width:24.5%;
    text-decoration:none;
    color:#919292;
    text-align:center;
    vertical-align:middle;
}
.dwlabel .btn .gpsico {
    display:inline-block;
    width:12px; height:12px;
    background:url(../images/zone/gpsico.jpg) no-repeat center bottom;
    background-size:10px;
}
/*覆盖层*/
.overdiv {
    position:absolute;
    z-index:1;
    width:100%; height:100%;
    margin:0; padding:0;
    background:rgba(0, 0, 0, 0.65);
}
.tootip {
    position:absolute;
    z-index:2;
    width:76%;
    height:100px;
    left:10%; top:50%;
    background:#fff;
    margin-top:-50px;
    padding:0 2%;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.closebtn {
    position:relative;
    z-index:3;
    padding:0 9px;
    display:inline-block;
    text-align:center;

    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);

    background:#3c2bd4;
    color:#fff;
    font-size:30px;

    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

    text-decoration:none;

    border:#fff 2px solid;

    left:90%; top:-15px;
}
.overdiv span {
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:14px;
    line-height:23px;
}